body{
    margin: 0%;
}
/* Some CSS styling */
#sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10px;
}

#sketchpad {
    margin-top: 5px;
    float:left;
    border:2px solid #888;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
}

.rightside {
    margin-left: 1%;
    
    position: relative;
    overflow: hidden;
}

.rightside > #pencilSize {
    background: linear-gradient(to right, #000 0%, #000 50%, #fff 50%, #fff 100%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 100px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.btn {
    outline: none;
    color:white;
    border:0;
    font-size: 16px;
    padding:3px 8px;
    border-radius: 2px;
    transition: 0.1s;
    background-color: black;
    margin-left: 5px;
}

.btn:hover {
    filter: brightness(90%);
}

.btn-danger {
    background-color: #DC3545;
}

.btn-primary {
    background-color: #007BFF;
}

.btn-success {
    background-color: #28A745;
}