.hvr-networkbar {
  top: 8vh;
  position:fixed;
  left:-2px;
}

.network {
  position: relative;
  left: -150px;
  transition: 0.9s;
  padding: 1.5vh 15px 1.5vh 15px;
  width: 160px;
  height: 4vh;
  text-decoration: none;
  font-size: 3vh;
  color: white;
  border-radius: 0 5px 5px 0;
  margin-top:1vh;
  background-image:url("background.jpg");
  background-position:center;
  background-size:cover;
  vertical-align: middle;
}

.network:hover {
  left: 0;
}

.network-name {
  float:left;
  vertical-align: middle;
  color:white
}

.network-logo {
  position:absolute;
  max-height:4vh;
  margin:auto;
  vertical-align: middle;
}

#fb-network-logo {
  content:url("fb.png");
}

#insta-network-logo {
  content:url("instagram.png");
}

#twitter-network-logo {
  content:url("twitter.png");
}

#github-network-logo {
  content:url("github.png");
}

#whatsapp-network-logo {
    content:url("whatsapp.png");
}